[Desktop Entry]
Terminal=false
Name=Scholia
GenericName=PDF Document Viewer
Comment=PDF-centered document viewer and annotation tool based on KDE Okular
Exec=scholia %U
Icon=scholia
Type=Application
X-DocPath=okular/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Office;Viewer;
MimeType=application/pdf;application/vnd.kde.okular-archive;
X-DBUS-ServiceName=org.jairy.scholia
StartupWMClass=scholia
